body{
    margin: 20px;
    font-family:Arial, sans-serif;
    background-color:#ffffff;
    padding:20px;
}

header{
    text-align:center;
    margin-bottom:20px;
}

nav{
    margin-bottom:20px;
}

nav a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    background:#001a41;
    padding:10px 15px;
}

.contenedor{
    display:flex;
    flex-wrap:wrap;
    margin:10px;
}

.caja{
    border:2px solid #0c084f;
    padding: 15px;
    margin: 10px;
    background:rgb(140, 255, 244);
}

.tarjeta{
    padding:1rem;
    border:2px solid rgb(51, 23, 60);
    margin: 10px;
    background:rgb(255, 181, 249);
    transition:0.3s;
}

.seleccionada{
    background-color:#b8f5b8;
    border-color:green;
}

button{
    padding:10px 15px;
    margin:10px 5px;
    border:none;
    background:#07152b;
    color:white;
}

#resultado{
    margin-top:15px;
    font-weight:bold;
}