body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fbd1ff;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.caja {
    width: 180px;
    padding: 15px;
    border: 2px solid #2a2a2a;
    margin: 10px;
    background-color: rgb(229, 84, 255);
}

.tarjeta {
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(150, 230, 242);
}

.seleccionada {
    background-color: lightgreen;
    border-color: green;
}

.boton {
    padding: 10px 15px;
    margin: 10px 5px;
    cursor: pointer;
}